spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/designdb
    username: designuser
    password: designpass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080
